:root {
  --primary: #050531;
  --light: #ffffff;
  --grey: #efefef;
}

.navega {
  background-color: var(--primary) !important;
}

.imagen-usuario {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  margin-right: 10px;
}
